# -*- sh -*-
# vi: ft=zsh
#
alias co="git checkout"
alias date2="date '+%A %d. %B %Y (viikko %V)'"
alias j='jobs'
alias l='less -iMqrwX'
alias lalias='source ~/.aliases'
alias pd='popd'
alias ps2='ps -o pid,ppid,user,nice,vsz,rss,time,stime,pmem,pcpu,args'
alias man='LC_CTYPE=en_DK.iso88591 man'
alias dotfiles="git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME"

# For SELinux
alias sudo='/usr/bin/sudo -t unconfined_t -r unconfined_r'
