# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Mika Anttila
	email = mika.anttila@csc.fi
[core]
	editor = vim
	excludesfile = /home/manttila/.gitignore
[push]
	default = simple
[diff]
	tool = meld
[alias]
	graph = log --all --graph --decorate --oneline
	undo-commit = reset --soft HEAD^
